<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="user">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" formControlName="username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="text" formControlName="password" name="password"></ion-input>
      </ion-item>
      <ion-button ion-button type="submit" block (click)="loggin(user.value)">Valider</ion-button>
    </form>
  </div>
</ion-content>
